%section.table-wrapper
  %table
    %caption Daily report
    - @report.each_with_index do |(resource_name, report), index|
      - if index.zero?
        %thead
          %tr
            - (Project.min_date.to_date..Date.today).each_with_index do |day, index|
              - if index.zero?
                %th.first-col
                  = 'Resources:'
              %th= day
      %tr
        - (Project.min_date.to_date..Date.today).each_with_index do |day, index|
          - if index.zero?
            %td.first-col
              = resource_name
          %td= report[day]&.round(3) || 0

  = form_tag reports_path, method: :get , id: 'year-form' do
    = hidden_field_tag :type, 'month'
    = hidden_field_tag :year, Date.today.year, id: 'hidden-year-field'
