%section.table-wrapper
  = select_year params[:year].to_i || Date.today, { start_year: 2016, end_year: 2020 }, { class: 'form-control', id: 'year-picker' }
  %table
    %caption Monthly report
    - @report.each_with_index do |(resource, report), index|
      - if index.zero?
        %thead
          %tr
            - Date::MONTHNAMES.each do |month|
              %td{ class: month.nil? ? 'first-col' : '' }
                - if month.nil?
                  = 'Resources:'
                - else
                  = month || 'Resources:'
      %tr
        - Date::MONTHNAMES.each do |month|
          %td{ class: month.nil? ? 'first-col' : '' }
            = month.nil? ? resource : report[month]&.round(3) || 0

  = form_tag reports_path, method: :get , id: 'year-form' do
    = hidden_field_tag :type, 'month'
    = hidden_field_tag :year, Date.today.year, id: 'hidden-year-field'
