%ul.nav.flex-column.text-light
  %li.nav-item
    = dashboard_link_to 'Clients', clients_path, class: 'nav-link'
  %li.nav-item
    = dashboard_link_to 'Projects', projects_path, class: 'nav-link'
  %li.nav-item
    = dashboard_link_to 'Resources', resources_path, class: 'nav-link'
  %li.nav-item
    = dashboard_link_to 'Calendar', user_calendar_index_path(current_user.id), class: 'nav-link'
  - if policy(:user).index?
    %li.nav-item
      = dashboard_link_to 'Users', admin_users_path, class: 'nav-link'
%h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-light
  %span Reports
%ul.nav.flex-column.mb-2
  %li.nav-item
    = link_to 'Daily Report', reports_path(type: :day), class: 'nav-link'
  %li.nav-item
    = link_to 'Monthly Report', reports_path(type: :month, year: Date.today.year), class: 'nav-link'
  %li.nav-item
    = link_to 'By resource type', reports_path(type: :resource, year: Date.today.year), class: 'nav-link'
  - if Project.any?
    %li.nav-item
      = link_to 'By project', reports_path(type: :project, year: Date.today.year, project_id: Project.first.id), class: 'nav-link'
